* {
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

.background {
    background: none;
}

.main {
    padding: 8px 8px 0;
}

.left {
    // min-width: 600px;
}

.shutdown {
    font-size: 12;
}

.workspace-container {
    // min-width: 392px;
    padding: 6px 10px;
    border-radius: 18px;
    background: rgba($color: #000000, $alpha: 0.9);
}

.workspace {
    background: rgba($color: white, $alpha: 0.25);
    border-radius: 10px;
    // transition: none;
    transition: all .15s ease-out;
}

.in_use {
    background: rgba($color: white, $alpha: 1);
    background: white;
}

.active {
    min-width: 76px;
}