@define-color background rgba(0, 0, 0, 1);
@define-color border rgba(136, 136, 136, 0.2);
@define-color text #BEBEC1;

* {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;
  font-family: CaskaydiaCove NFP;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: @text;
  min-height: 0;
}

window#waybar {
  /* background-color: @background; */
}

#custom-power {
  padding: 4px 16px;
}

#workspaces,
#workspaces button {
  padding: 4px 8px;
}

#custom-divisor {
  border-left: 4px solid @border;
}

#custom-invaders {
  padding: 4px 16px;
}

#tray {
  color: @text;
}

#tray menu {
  background: @background;
  border: 2px solid @border;
  padding: 8px 0;
}

#tray label {
  margin: 4px 0;
}

#network,
#pulseaudio,
#cpu,
#memory,
#temperature,
#battery,
#clock {
  padding: 4px 16px;
}

#battery.warning {
  background-color: #804000;
}

#battery.critical {
  background-color: #800000;
}

tooltip {
  background: @background;
  border: 2px solid @border;
}

tooltip label {
  color: @text;
}
